{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        
            <div class="cod-10" style="text-align: center" center>
                <p align="justify">
                    راساس بیانیه‌ی مطبوعاتی کوالکام، پردازنده‌های سری اسنپدراگون ایکس مبتنی‌بر هسته‌ی Oryon خواهند بود. به‌ادعای کوالکام، Oryon جهشی چشمگیر درزمینه‌ی قدرت پردازشی و مصرف انرژی به‌همراه می‌آورد و در‌کنار تراشه‌ی عصبی (NPU) باعث می‌شود اسنپدراگون ایکس در حوزه‌ی هوش مصنوعی حرف‌های زیادی برای گفتن داشته باشد.

                    سیستم‌های مجهز به اسنپدراگون ایکس لوگو و برچسب جدیدی خواهند داشت. کوالکام می‌گوید که برند اسنپدراگون ایکس باعث می‌شود تفاوت بین پردازنده‌های کلاس لپ‌تاپ این شرکت با پردازنده‌های کلاس گوشی هوشمند واضح‌تر باشد. مشخص نیست که قیمت CPU جدید کوالکام چقدر روی قیمت لپ تاپ اثر خواهد گذاشت.
                    
                    کوالکام سال‌ها است که پردازنده برای کامپیوترهای مبتنی‌بر نسخه‌ی آرم ویندوز (Windows on Arm) تولید می‌کند؛ اما این پردازنده‌ها دربرابر پردازنده‌های سری M مک بوک عملکرد موفقی از خود نشان نداده‌اند. استارتاپ Nuvia هسته‌‌های Oryon را طراحی کرده‌ است؛ هسته‌هایی که احتمالاً شرایط را تغییر خواهند داد. کوالکام در سال ۲۰۲۱ با پرداخت ۱٫۴ میلیارد دلار، Nuvia را ازآنِ خود کرد.
                </p>
            </div>
        
    </div>
</div>
{% endblock content %}