{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        
            <div class="cod-10" style="text-align: center" center>
                <form method="post" action={% url 'update_password'  %}>
                    {% csrf_token %}
                        {{ form.as_p }}
                        <br><br>
                    <button type="submit" class="btn btn-secondary">ویرایش رمز عبور</button>
                  </form>
            </div>
        
    </div>
</div>
{% endblock content %}