{% extends 'base.html' %}

{% block content %}
   <!-- Header-->
   <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">ویرایش پروفایل </h1>
            <p class="lead fw-normal text-white-50 mb-0">اطلاعات جدید خود را وارد کنید</p>
        </div>
    </div>
</header>
<!-- header-->

<div class="container">
<div class="row">
            <div class="cod-10" style="text-align: center" center>
                <form method="post" action={% url 'update_user'  %}>
                    {% csrf_token %}
                        {{ user_form.as_p }}
                        <br><br>
                    <button type="submit" class="btn btn-secondary">ویرایش</button>
                  </form>
                  <br>
                  <a href="{% url 'update_password' %}" class="btn btn-warning"> ویرایش رمز عبور</a>
          </div>
</div>
{% endblock content %}ُ
