{% extends 'base.html' %}

{% block content %}

<div class="container">
<div class="row">
        
            <div class="cod-10" style="text-align: center" center>
                <form method="post" action={% url 'update_user'  %}>
                    {% csrf_token %}
                        {{ user_form.as_p }}
                        <br><br>
                    <button type="submit" class="btn btn-secondary">ثبت نام</button>
                  </form>
                  <br>
                  <a href="{% url 'update_password' %}" class="btn btn-warning"> ویرایش رمز عبور</a>
        
    </div>
</div>
{% endblock content %}ُ