{% extends 'base.html' %}
{% load static %}
{% load humanize %} 


{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">سبد خرید شما</h1>
                    <p class="lead fw-normal text-white-50 mb-0">در سبد خرید می توانید محصولات خود را اضافه کنید.</p>
                </div>
            </div>
        </header>
        <br>
            <p class="container" dir="ltr">
                {{ cart_products }}dfaf
            </p>
        <br><br><br>
        
    {% endblock content %}