{% extends 'base.html' %}
{% load static %}
{% load humanize %} 


{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">سبد خرید شما</h1>
                    <p class="lead fw-normal text-white-50 mb-0">در سبد خرید می توانید محصولات خود را اضافه کنید.</p>
                </div>
            </div>
        </header>
        <br>
        {% if cart_products %}
            
                {% for product in  cart_products %}
                    
                <!-- begin -->
                <div class="container">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{product.picture.url}}" class="img-fluid rounded-start" alt="...">
                            </div>
                        <div class="col-md-8">
                                <div class="card-body">
                                <h5 class="card-title">{{product.name}}</h5>
                                <p class="card-text">{{product.description}}</p>
                                {% if product.is_sale %}
                                    <p class="card-text">قیمت:<del>{{product.price | intcomma}}</del>-{{product.sale_price| intcomma}}</p>
                                {% else %}
                                    <p class="card-text">{{product.price | intcomma}}</p>
                                {% endif %}
                                   <p class="card-text">تعداد :
                                    <select class="form-select" id="select{{product.id}}">
                                        {% for key,value in quantities.items %}
                                        {% if key == product.id|slugify %}
                                            <option selected>{{ value }}</option>
                                        {% endif %}
                                        {% endfor %}
                                        
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="3">4</option>
                                      </select>
                                      
                                     </p>
                                     <button type="button" data-index="{{product.id}}" class="btn btn-primary update-cart">ویرایش</button>
                                     <button type="button" data-index="{{product.id}}" class="btn btn-danger delete-product">حذف</button>
                                    <a href="{% url 'home'  %}" class="btn btn-secondary">بازگشت به صفحه اصلی</a>
                                </div>
                            </div>
                        </div>
                    
                </div>
                <!-- end -->
                {% endfor %}
                <h3>مجموع کل سفارشات:{{total}}</h3>
                {% else %}
                    <center><h3 class="container">سبد خرید شما خالی است &#128531</h3></center>
                {% endif %}
        <br><br><br>
        <script>
            $(document).on('click', '.update-cart', function(e){
                e.preventDefault();
                var productid = $(this).data('index')
                $.ajax({
                    type : 'POST',
                    url : '{% url 'cart_update' %}',
                    data:{
                        product_id: $(this).data('index'),
                        product_qty:$('#select'+productid+' option:selected').text(),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action : 'post'
                    },
                    success: function(json){
                        // console.log(json)
                        //document.getElementById('cart_quantity').textContent = json.qty
                        location.reload()
                    },
                    error: function(xhr,errmsg,err){
        
                    }
                })
            })
           //..............................
           $(document).on('click', '.delete-product', function(e){
                e.preventDefault();
                
                $.ajax({
                    type : 'POST',
                    url : '{% url 'cart_delete' %}',
                    data:{
                        product_id: $(this).data('index'),
                        
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action : 'post'
                    },
                    success: function(json){
                        // console.log(json)
                        //document.getElementById('cart_quantity').textContent = json.qty
                        location.reload()
                    },
                    error: function(xhr,errmsg,err){
        
                    }
                })
            })
                
        </script>
    {% endblock content %}
