{% extends 'base.html' %}
{% load static %}
{% load humanize %} 
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">صورتحساب</h1>
                    <p class="lead fw-normal text-white-50 mb-0"> سفارشتان را چک کنید.</p>
                </div>
            </div>
        </header>
        <br>
        <div class="container"></div>
        <div class="row">
            <center>
                <div class="col-10">
                    <div class="card">
                        <div class="card-header">
                          خلاصه سفارشات شما:
                        </div>
                        <div class="card-body">
                            {% for product in  cart_products %}
                                {{ product.name }} <br>
                                قیمت:
                                {% if product.is_sale %}
                                    {{product.sale_price}}
                                {% else %}
                                    {{product.price}}
                                {% endif %}
                                <br>
                                تعداد:
                                <small>
                                {% for key,value in quantities.items %}
                                    {% if key == product.id|slugify %}
                                        {{ value }}
                                     {% endif %}
                                {% endfor %}
                                </small><br><hr>
                            {% endfor %}
                            <br>
                            <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">ویرایش سفارش</a>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header">
                          مشخصات ارسال :
                        </div>
                        <div class="card-body">
                            {{shipping_form.as_p}}
                        </div>
                      </div>
                </div>
                    <br>
                <a href="#" class="btn btn-sm btn-outline-secondary">ادامه ی ثبت سفارش</a>
           </center>
        
        </div>
     

        <br><br><br>
        
    {% endblock content %}
